@font-face {
    font-family: 'Branding';
    src: url('../fonts/Branding-Bold.eot');
    src: url('../fonts/Branding-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Branding-Bold.woff2') format('woff2'),
        url('../fonts/Branding-Bold.woff') format('woff'),
        url('../fonts/Branding-Bold.ttf') format('truetype'),
        url('../fonts/Branding-Bold.svg#Branding-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Branding';
    src: url('../fonts/Branding-SemiBold.eot');
    src: url('../fonts/Branding-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Branding-SemiBold.woff2') format('woff2'),
        url('../fonts/Branding-SemiBold.woff') format('woff'),
        url('../fonts/Branding-SemiBold.ttf') format('truetype'),
        url('../fonts/Branding-SemiBold.svg#Branding-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Branding';
    src: url('../fonts/Branding-SemiBoldItalic.eot');
    src: url('../fonts/Branding-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Branding-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Branding-SemiBoldItalic.woff') format('woff'),
        url('../fonts/Branding-SemiBoldItalic.ttf') format('truetype'),
        url('../fonts/Branding-SemiBoldItalic.svg#Branding-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Branding';
    src: url('../fonts/Branding-MediumItalic.eot');
    src: url('../fonts/Branding-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Branding-MediumItalic.woff2') format('woff2'),
        url('../fonts/Branding-MediumItalic.woff') format('woff'),
        url('../fonts/Branding-MediumItalic.ttf') format('truetype'),
        url('../fonts/Branding-MediumItalic.svg#Branding-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Branding SemiLight';
    src: url('../fonts/Branding-SemiLight.eot');
    src: url('../fonts/Branding-SemiLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Branding-SemiLight.woff2') format('woff2'),
        url('../fonts/Branding-SemiLight.woff') format('woff'),
        url('../fonts/Branding-SemiLight.ttf') format('truetype'),
        url('../fonts/Branding-SemiLight.svg#Branding-SemiLight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Branding';
    src: url('../fonts/Branding-LightItalic.eot');
    src: url('../fonts/Branding-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Branding-LightItalic.woff2') format('woff2'),
        url('../fonts/Branding-LightItalic.woff') format('woff'),
        url('../fonts/Branding-LightItalic.ttf') format('truetype'),
        url('../fonts/Branding-LightItalic.svg#Branding-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Branding';
    src: url('../fonts/Branding-ThinItalic.eot');
    src: url('../fonts/Branding-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Branding-ThinItalic.woff2') format('woff2'),
        url('../fonts/Branding-ThinItalic.woff') format('woff'),
        url('../fonts/Branding-ThinItalic.ttf') format('truetype'),
        url('../fonts/Branding-ThinItalic.svg#Branding-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Branding';
    src: url('../fonts/Branding-Black.eot');
    src: url('../fonts/Branding-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Branding-Black.woff2') format('woff2'),
        url('../fonts/Branding-Black.woff') format('woff'),
        url('../fonts/Branding-Black.ttf') format('truetype'),
        url('../fonts/Branding-Black.svg#Branding-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Branding';
    src: url('../fonts/Branding-Medium.eot');
    src: url('../fonts/Branding-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Branding-Medium.woff2') format('woff2'),
        url('../fonts/Branding-Medium.woff') format('woff'),
        url('../fonts/Branding-Medium.ttf') format('truetype'),
        url('../fonts/Branding-Medium.svg#Branding-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Branding';
    src: url('../fonts/Branding-Thin.eot');
    src: url('../fonts/Branding-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Branding-Thin.woff2') format('woff2'),
        url('../fonts/Branding-Thin.woff') format('woff'),
        url('../fonts/Branding-Thin.ttf') format('truetype'),
        url('../fonts/Branding-Thin.svg#Branding-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Branding SemiLightItalic';
    src: url('../fonts/Branding-SemiLightItalic.eot');
    src: url('../fonts/Branding-SemiLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Branding-SemiLightItalic.woff2') format('woff2'),
        url('../fonts/Branding-SemiLightItalic.woff') format('woff'),
        url('../fonts/Branding-SemiLightItalic.ttf') format('truetype'),
        url('../fonts/Branding-SemiLightItalic.svg#Branding-SemiLightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Branding';
    src: url('../fonts/Branding-Light.eot');
    src: url('../fonts/Branding-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Branding-Light.woff2') format('woff2'),
        url('../fonts/Branding-Light.woff') format('woff'),
        url('../fonts/Branding-Light.ttf') format('truetype'),
        url('../fonts/Branding-Light.svg#Branding-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Branding';
    src: url('../fonts/Branding-BoldItalic.eot');
    src: url('../fonts/Branding-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Branding-BoldItalic.woff2') format('woff2'),
        url('../fonts/Branding-BoldItalic.woff') format('woff'),
        url('../fonts/Branding-BoldItalic.ttf') format('truetype'),
        url('../fonts/Branding-BoldItalic.svg#Branding-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}






body{
	font-family: 'Branding';
	font-weight: 500;
    font-style: normal;
	font-size:16px;
}

.navbar-inverse {
    border: none;
    border-radius: 0;
    background-color: #007182;
    margin: 0;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background: transparent;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
.navbar-inverse .navbar-nav>li>a {
    padding: 35px 30px;
}
#talents .section-head h1 {
    margin-top: 90px;
}
.logo-header {
    margin-top: 5px;
}
section#top-slider {

    width: 100%;
    height: 500px;
    
    background: #007182;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 15% 30%;
}
.slider-text h1 {
    font-size: 64px;
    text-transform: uppercase;
    font-weight: bold;
    color: #00bec5;
    font-style: italic;
    margin-top: 60px;
    text-align: left;
}
.owl-dots {
    position: absolute;
    top: 65%;
}
.footer-medium {
    text-align: center;
}
.logo-foot {
    margin: 0 auto;
}
.all-rights{
    font-family: 'Branding';
    font-size: 15px;
    color: #5a7184;
    text-align: center;
    margin-top: 20px;
}
.footer-medium ul{
    padding: 0;
    list-style: none;
    display: inline-flex;
    margin-top: 45px;
}
.footer-medium ul li {
    padding: 0 7px;
}
.footer-medium ul li img{
    width: 35px;
}
.safari #mobilePartner {
    margin-top: 50px;
}
.slider-big-img img {
    max-width: 80%;
    margin-top: 50px;
}
#top-slider .owl-theme .owl-dots .owl-dot.active span {
    background: #fff !important;
}

.owl-theme .owl-dots .owl-dot:focus {
    outline: none !important;
}
.owl-theme .owl-dots .owl-dot span {
    background: #00ffaf !important;
}
button.owl-next {
    float: right;
    right: 0;
    position: absolute;
    top: 38%;
}
button.owl-prev {
    float: left;
    left: -50px;
    position: absolute;
    top: 38%;
}
span.seNum1 {
    border: 2px solid #00dbdc;
    padding: 5px 12px;
    border-radius: 50%;
}
span.seNum {
    border: 2px solid #00dbdc;
    padding: 5px 11px;
    border-radius: 50%;
}

button.owl-next i {
    color: #fff;
    padding: 10px 15px;
    border: 1px solid #fff;
    border-radius: 50%;
}
.casosContent td {
    color: #5A7184;
}

button.owl-prev i {
    color: #fff;
    padding: 10px 15px;
    border: 1px solid #fff;
    border-radius: 50%;
}
.slider-text p {
    color: #fff;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
}
.slider-big-img {
    position: relative;
}

.img-2 {
    position: absolute;
    top: -30px;
    width: 85px !important;
    opacity: .5;
}
.img-3 {
    position: absolute;
    bottom: 1px;
    right: 0;
    width: 250px !important;
   
}
.owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent !important;
}

.owl-theme .owl-nav [class*=owl-]:focus {
	outline:none !important;
}
.arrow{
    text-align: center;
    margin-top: 50px;
    max-width: 100%;
}

section#top-slider {
    text-align: center;
}

.slider-text p {
    text-align: left;
}
section#counter {
    padding-top: 50px;
    padding-bottom: 70px;
}

span.counter-value {
    font-size: 80px;
    font-weight: bold;
    color: #00dbdc;
}
.counter p {
    color: #5a7184 !important;
    font-size: 18px;
    font-weight: 500;
}.counter {
    text-align: center;
}
.counter {
    text-align: center;
    border-right: 1px solid #ddd;
}
.second-counter {border-right: 0;}

.counter.third-counter {
    border-left: 1px solid #ddd;
    border-right: 0;
}
span.counter-value:before {
    font-family: "FontAwesome";
    content: "\f067";
    display: inline-block;
    padding-right: 5px;
    font-weight: 500;
    font-size: 55px;
    color: #007182;
}
.contable-containter{
    text-align: center;
    margin-top: 22px;
}
.contable-containter img {
    height: 30px;
}
.contable-containter p{
    ont-family: 'Branding';
    font-size: 15px;
    font-style: italic;
    color: #5a7184;
}
#contact select{
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
}
section#servicios .service_ovarlay, section#services .service_ovarlay {
    background: linear-gradient(90deg, #00dbdc 100%, #fff 100%);
    border-top-right-radius: 15% 30%;
    border-bottom-right-radius: 15% 30%;
    width: 70%;
    position: absolute;
    height: 850px;

}
section#servicios {
    padding: 80px 0;
    position: relative;
} 
.section-head {
    text-align: center;
}

.section-head h1 {
    color: #007182;
    font-size: 52px;
    font-weight: bold;
    line-height: 150px;
}

.section-head p {
    color: #007182;
    font-size: 18px;
}
.service-box {
    background: #fff;
    padding: 20px;
    border-radius: 14px;
    border: 1px solid #e3e8eb;
    margin-top: 40px;
}
.arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ff3ae8;
    text-align: center;
    margin: 15px auto;
}
span.seNum {
    border: 2px solid #00dbdc;
    padding: 3px 10px;
    border-radius: 50%;
}
.service-box ul li:before {
    content: "\f068";
    font-family: fontawesome;
    margin-right: 10px;
}
.service-box ul {
    padding: 0;
    list-style: none;
}
.service-box h3 {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: .11px;
    line-height: 24px;
    color: #000;
}

.service-box p, .service-box ul li{
    color: #5A7184;
}

.row.equalHeight{
    display: table;
}

.row.equalHeight [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}
.service-box {
    min-height: 468px;
}
section#lideres {
    padding: 160px 0;
	position:relative;
}

section#lideres .section-head {
    margin-bottom: 80px;
}

.leaders-box {
    text-align: center;
}

.leaderImg img {
    margin: 0px auto;
}

.leaders-box h4 {
    font-size: 18px;
    font-weight: 600;
    color: #007182;
    line-height: 30px;
    margin-bottom: 0;
}

.leaders-box p {
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    color: #5a7184;
}
.leader-ovarlay {
    background: url(img/MaskBanner.png);
    height: 100%;
    width: 42%;
    position: absolute;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90%;
    top: 0;
    z-index: -1;
}
.leader-ovarlay2 {
    background: url(img/pink.png);
    height: 100%;
    width: 80px;
    position: absolute;
    right: 23%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 86px;
    top: 0;
    z-index: -1;
    opacity: .54;
}
.CASOS-carousal .item {
    border: 1px solid #e3e8eb;
    border-radius: 14px 0 0 14px;
}
.casosImg {
    background-color: #00bec5;
    border-radius: 14px 0px 0px 14px;
    padding: 60px 40px;
}
img.logo-icon {
    max-width: 94px;
    margin-left: 4%;
}

.casosPlus {
    position: absolute;
    top: 15px;
    right: 30px;
}
table.table-responsive {
    border: none !important;
}

.casosJI {
    padding: 15px;
}
.plusICon i {
    color: #fff;
    border: 1px solid #fff;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.casoscross {
    position: absolute;
    top: 15px;
    right: 30px;
}
.crossICon i {
    color: #007182;
    border: 1px solid #007182;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.casosContent {
    padding-top: 35px;
}

.casosJI {
    margin-top: 30px;
}

.casosJI th {padding-right: 25px;min-width: 100px;vertical-align: baseline;color: #007182;font-size: 18px;line-height: 30px;font-weight: 600;}

.casosJI tr {
    padding-bottom: 25px;
    float: left;
}
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
    display: block !important;
}
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
    display: block !important;
}

#CASOScarousal .owl-nav {
    position: absolute;
    top: 40%;
    width: 100%;
}

#CASOScarousal .owl-nav button i {
    color: #007182;
    border: 1px solid #007182;
}

#CASOScarousal .owl-nav button.owl-prev {
    left: -50px;
}

#CASOScarousal .owl-nav button.owl-next {
    right: -50px;
    float: right;
    position: absolute;
}
#CASOScarousal  .owl-dot.active span{
	background:#007182 !important;
}

#CASOScarousal .owl-dots {
    position: relative;
    margin-top: 30px;
}

.clientsHead h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    font-style: italic;
    color: #00bec5;
    text-align: center;
}
.clientsHead p {
    font-size: 24px;
    text-align: center;
    line-height: 33px;
    font-weight: 500;
    color: #00bec5;
}

.clientsIMGS ul {
    padding: 0;
    list-style: none;
    text-align: center;
    margin-top: 50px;
}

.clientsIMGS ul li {
    display: inline;
    margin: 0 45px;
}

.clientsIMGS ul li img {
    margin-bottom: 40px;
}
section#clients {
    padding: 80px 0;
}
section#ImpulsamosConocimientos {
    background-color: #00ffaf;
    padding: 100px 0;
    border-bottom-left-radius: 45% 20%;
    border-bottom-right-radius: 45% 20%;
    height: 950px;
}

.coverHead h2 {
    text-align: center;
    font-size: 52px;
    font-weight: 700;
    line-height: 67px;
    color: #fff;
    margin: 0;
}

.works {
    position: relative;
}

.workImgCaption {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.50);
    border-radius: 14px;
background: linear-gradient(164deg, rgb(0 255 175 / 0%) 0%, rgb(0 0 0 / 51%) 50%, rgba(0,0,0,1) 100%);
}

.workImgCaption h4, .workImgCaption span {
    position: absolute;
    width: 100%;
    color: #fff;
}

.workImgCaption h4 {
    bottom: 20px;
    PADDING: 15PX;
}

.workImgCaption span {
    bottom: 5PX;
    PADDING: 15PX;
}

.workImgCaption img {
    padding: 15px;
}

.workImgCaption span a {
    color: #00ffaf;
    text-decoration: none;
    cursor: pointer;
}
.m-15 {
    margin-top: 30px;
}
.partners-links h3 {
    color: #183b56;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    line-height: 38px;
    margin-bottom: 40px;
}

.partners-links ul li {
    display: inline;
    padding: 20px;
}

.partners-links ul {
    text-align: center;
}

.partners-links {
    padding-bottom: 40px;
    border-bottom: 1px solid #00718247;
}
section#neustras h1 {
    font-weight: 700;
    color: #00dbdc;
}
.section-network {
    border: 1px solid #e3e8eb;
    border-radius: 12px;
}

.networkCaption {
    padding: 20px;
}

.networkCaption p {
    color: #5a7184;
    font-size: 15px;
    font-weight: 500;
}

span.date {
    color: #5a7184;
    font-weight: 500;
    font-size: 15px;
}

.authorInfo img {
    background-color: #007182;
    padding: 12px;
    border-radius: 50%;
    float: left;
    margin-right: 15px;
}

.authorInfo {
    margin-top: 15px;
    display: inline-block;
    width: 100%;
}

.authorInfo p {
    margin-top: 6px;
}

.nav-tabs>li {
    float: none !important;
    margin-bottom: -1px;
    display: inline-block;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border: none;
}

ul.nav.nav-tabs {
    border: none;
    text-align: center;
    float: none;
}

.Be2brainerTabs {
    text-align: center;
}
.nav-tabs>li.active a {
    color: #007182;
    font-weight: 600;
    font-size: 16px;
    border-bottom: 4px solid #00dcdd;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
border-bottom: 4px solid #00dcdd !important;	
}
.nav-tabs>li>a:hover {
    border: none;
    background: transparent;
	padding: 10px 15px;
}
.nav-tabs>li>a {
    color: #5a7184;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 15px;
}
.tab-pane .row {
    background-color: #faf9f9;
    border-radius: 14px;
    margin-bottom: 15px;
}

.tab-content {
    margin-top: 30px;
}

.tab-pane .row .box {
    padding: 30px 15px;
}
.box.box2 p {
    text-align: left;
    color: #5a7184;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
}

.box.box1 h4 {
    color: #000;
    font-weight: 600;
    margin-bottom: 0;
}

.box.box1 p {
    color: #007182;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
}

a.btnVJ {
    color: #00dbdc;
    padding: 5px;
    border: 2px solid;
    border-radius: 6px;
    margin-top: 7px;
    float: left;
}
a.btnVJ:hover {
    text-decoration: none;
}
section#Be2brainer {
    padding: 80px 0;
}
section#contact {
    background-color: #007182;
    padding: 80px 0;
}
section#contact .arrow-down {
    border-top: 10px solid #fff;
}
section#contact .section-head h1 {
    color: #00ffaf;
    margin: 0;
	font-size:60px;
}
.form-control {
    background: transparent;
    border-radius: 0;
    border: none;
    box-shadow: unset;
    border-bottom: 1px solid #fff;
	color:#fff;
}
.form-group label {
    color: #00dcdd;
    font-size: 16px;
    font-weight: 600;
    padding: 0 12px;
}
::-webkit-input-placeholder { /* Edge */
color: #0394a9 !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: #0394a9 !important;
}

::placeholder {
color: #0394a9 !important;
}
.form-control:focus {
    border-color: unset;
    box-shadow: unset;
	border-color:#00ffaf;
}

.form-control:hover {
    border-color: unset;
    box-shadow: unset;
	border-color:#00ffaf;
}
form#cf7form .row {
    margin: 20px 0px;
}
select.form-control>option {
    color: #000 !important;
}
p.tCClass {
    color: #00bec5;
    font-size: 14px;
    line-height: 19px;
    font-weight: 500;
    font-style: italic;
}
.VJlodu {
    text-align: center;
}

.VJlodu button {
    background: #00ffaf;
    color: #007182;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 40px;
}
.VJlodu button:hover {
    background: #007182;
    border: 2px solid #00ffaf;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 40px;
}
section#contact {
    position: relative;
}
.contactSec {
    background: url(img/6-layers.png);
    width: 12%;
    height: 360px;
    position: absolute;
    right: 0;
    object-fit: cover;
    background-repeat: no-repeat;
    top: -100px;
}
.text-widget ul {
    padding: 0;
    list-style: none;
}

.text-widget ul li {
    display: inline-block;
    padding: 0 5px;
}

.text-widget ul li i{
    background-color: #00dbdc;
    color: #fff;
    padding: 8px 12px;
    border-radius: 50%;
    font-size: 15px;
}
.text-widget ul li .fa-facebook {
    background-color: #00dbdc;
}
.text-widget ul li .fa-instagram {
background-color: #ff3ae8;
}
.text-widget ul li .fa-linkedin {
background-color: #00bec5;
}
.text-widget ul li i {
background-color: #000;
}
footer {
    padding: 80px 0;
}
.text-widget p {
    color: #5a7184;
    font-size: 15px;
    font-weight: 500;
}
.text-widget h4 {
    font-size: 15px;
    font-weight: 700;
    color: #007182;
}
.text-widget p a {
    color: #007182;
}







@media (min-width: 768px) and (max-width: 991.98px) {
    .slider-text h1 {
        font-size: 25px;
    }
    .slider-big-img img {
        max-width: 54%;
        margin-top: 40px;
        display: inline;
    }
    .owl-carousel .owl-item img {
        display: inline !important;
    }
    .owl-prev spam, .owl-next span{
        display: none !important;
    }
    .owl-dots {
        position: absolute;
        top: 85%;
        right: 0;
        left: 0;
    }
    #talents .section-head h1{
        margin-top: 120px;
    }
    .plusICon i {
        color: #fff;
        border: 1px solid #fff;
        padding: 15px;
        border-radius: 50%;
        cursor: pointer;
    }
    .casosPlus {
        position: absolute;
        top: 15px;
        right: 30px;
    }
    .casoscross {
        position: absolute;
        top: 15px;
        right: 30px;
    }
    .MINKUcAROUSALtxt {
        display: none;
    }
    section#ImpulsamosConocimientos {
        background-color: #00ffaf;
        padding: 100px 0;
        border-bottom-left-radius: 0% 20%;
        border-bottom-right-radius: 0% 20%;
        height: auto;
    }
    .tab-pane .row .box {
        padding: 0;
        width: 100%;
        display: inline-grid;
        margin-bottom: 20px;
    }
    .p100{
        margin-top: 0 !important;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    #mobilePartner .row{
        margin-top: -25px;
    }
    .contactSec{
        display: none;
    }
    .footer-medium ul {
        margin-top: 0px;
    }
.MINKUcAROUSALtxt {
    display: none;
}
#talents .section-head {
    margin-top: 70px;
}
div#navbar {
    border: none;
    border-color: transparent;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: transparent;
}
.navbar-nav li {
    width: 100%;
}

ul.nav.navbar-nav.pull-right {
    width: 100%;
    padding: 0;
    float: left !important;
}	
.navbar-inverse .navbar-nav>li>a {
    padding: 10px 30px;
}	
.navbar-inverse .navbar-toggle {
    border: none;
}	
a.navbar-brand {
    padding: 0;
}	
.networkImg img {
    width: 100%;
}
.section-network {
    margin-bottom: 20px;
}  
.slider-text h1 {
    font-size: 32px;
}
.owl-nav {
    display: none;
}
.img-3 {
    right: 0px;
    width: 117px !important;	bottom:-85px;
}
.img-2 {
    top: 0;
}
.slider-big-img img {
    margin: 0px auto;
}
.slider-big-img {
    margin-top: 60px;
}
.owl-dots {    top: 39%;}img.hidden-md.hidden-lg.img-responsive.img-3 {    z-index: 999;}.owl-theme .owl-dots .owl-dot span {    width: 8px !important;    height: 8px !important;}
span.counter-value:before {    font-size: 50px;    color: #007182;}img.img-responsive.img-2 {    width: 48px !important;    left: 45px;}
span.counter-value {
    font-size: 60px;
}
section#servicios .service_ovarlay {
    border-top-right-radius: 43% 14%;
    width: 100%;
    border-bottom-right-radius: 43% 14%;
}
.row.equalHeight {
    display: unset;
}
section#top-slider::after{
	display:none;
}
section#counter {
    padding-top: 100px;
}
.counter {
    border: none;
}

.counter.third-counter {
    border: none;
}
.row.equalHeight [class*="col-"] {
    display: block;
}
.leader-ovarlay2 {
    right: 5%;
}
.leaderImg {
    display: none;
}
.leaders-box {
    margin-bottom: 35px;
}
.casosImg {
    padding: 120px 20px;
}
.clientsHead h2 {
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
}
.clientsHead p {
    font-size: 18px;
    line-height: 22px;
}
.clientsIMGS ul li {
    float: left;
    display: inline;
    margin: 0 12px;
}

.clientsIMGS ul li img {
    margin-bottom: 20px;
    width: 70px;
}
.coverHead h2 {
    font-size: 32px;
    line-height: 40px;
}

section#ImpulsamosConocimientos {
    padding: 40px 0;
	height:auto;
	border-bottom-left-radius: 25% 5%;
    border-bottom-right-radius: 25% 5%;	    background: none;

}
.works {
    margin-bottom: 20px;
}
.partners-links ul {
    padding: 0;
}
.partners-links ul li img {
    margin-bottom: 20px;
}
.section-head h1 {
    font-size: 32px;
    line-height: 40px;
}
a.btnVJ {
    margin-bottom: 25px;
    text-align: center;
}

.box.box2 {
    text-align: center;
    float: left;
    padding: 0 !important;
    margin: 0px auto;
}

.box.box1 {
    text-align: left;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
}
section#contact .section-head h1 {
    font-size: 32px;
}
.contactSec {
    width: 30%;
    top: -230px;
}
.text-widget {
    margin-bottom: 40px;
}
.owl-carousel .owl-stage-outer {
    overflow: unset;
}

div#ServiciosCar {
    margin: 0;
}
#ServiciosCar .owl-dots{
position:relative;	
}
div#NuestrasRedesCar {
    margin: 0;
}
div#NuestrasRedesCar .owl-dots{
display:none;	
}
img.authorImg {
    width: 25px !important;
    margin-top: 4px;
}
.nav-tabs>li {
    display: table-cell;
}
ul.nav.nav-tabs {
    text-align: left;
    width: 100%;
    overflow-x: scroll;
}.navbar-header {    padding: 15px;}.navbar-toggle .icon-bar:nth-of-type(2) {    top: 1px;    width: 80%;    text-align: right;    margin-left: 20%;}.navbar-toggle .icon-bar:nth-of-type(3) {  	top: 2px;}.navbar-toggle .icon-bar {	  position: relative;	  transition: all 500ms ease-in-out;}.navbar-toggle.active .icon-bar:nth-of-type(1) {	  top: 6px;	  transform: rotate(45deg);}.navbar-toggle.active .icon-bar:nth-of-type(2) {	  background-color: transparent;}.navbar-toggle.active .icon-bar:nth-of-type(3) {	  top: -6px;	  transform: rotate(-45deg);}button.navbar-toggle {    float: right;    text-align: right;}div#ServiciosCar button.owl-dot.active span{	background:#007182 !important;}div#ServiciosCar button.owl-dot span{	background:#fff !important;}section#servicios {    padding: 40px 0;}section#lideres .section-head {    margin-bottom: 49px;}.leaders-box h4 {    font-weight: 700;}section#lideres {    padding-bottom: 40px;}section#casos {	position:relative;}section#casos .leader-ovarlay {    width: 70%;    transform: rotate(180deg);    height: 70%;    left: 0;}section#casos h1 {    color: #007182;    font-size: 40px;    font-weight: 700;}section#casos .section-head {    margin-bottom: 40px;}.casosImg {    padding: 120px 20px;    padding-right: 0;}.CASOS-carousal .item {    border-radius: 14px;}section#casos {    padding: 50px 0;}section#clients {    padding: 15px 0;}.clientsIMGS ul li {    width: 33.33%;    margin: 0;    min-height: 45px;}.Impulsa_ovarlay {    background: linear-gradient(90deg, #00ffaf 100%, #fff 100%);    height: 93%;    width: 100%;    position: absolute;    border-bottom-right-radius: 35px;    border-bottom-left-radius: 35px;}section#ImpulsamosConocimientos {    position: relative;}section#ImpulsamosConocimientos .coverHead {    padding: 40px 0;}.partners-links ul li {    width: 50%;    padding: 0;    float: left;    min-height: 70px;}.partners-links ul li img {    margin-bottom: 45px;}.partners-links {    display: inline-block;    padding: .0;}section#neustras h1 {    font-weight: 700;    color: #00dbdc;    font-size: 40px;    line-height: 78px;}section#neustras .section-head {    padding-bottom: 30px;}#NuestrasRedesCar .owl-stage {    left: -20px;}.nav-bts {    white-space: nowrap;    overflow-x: auto;}.tab-pane .row {    margin-left: 15px;    margin-right: 15px;}.contactSec {    z-index: -1;}section#contact {    z-index: 1;}.VJlodu button, .VJlodu button:hover{padding: 10px 57px;}.text-widget h4 {    width: 22px;    padding-bottom: 10px;    margin-bottom: 5%;    border-bottom: 2px solid #00ffaf;}
}