@font-face {
    font-family: 'Branding';
    src: url('Branding-Bold.eot');
    src: url('Branding-Bold.eot?#iefix') format('embedded-opentype'),
        url('Branding-Bold.woff2') format('woff2'),
        url('Branding-Bold.woff') format('woff'),
        url('Branding-Bold.ttf') format('truetype'),
        url('Branding-Bold.svg#Branding-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Branding';
    src: url('Branding-SemiBold.eot');
    src: url('Branding-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Branding-SemiBold.woff2') format('woff2'),
        url('Branding-SemiBold.woff') format('woff'),
        url('Branding-SemiBold.ttf') format('truetype'),
        url('Branding-SemiBold.svg#Branding-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Branding';
    src: url('Branding-SemiBoldItalic.eot');
    src: url('Branding-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Branding-SemiBoldItalic.woff2') format('woff2'),
        url('Branding-SemiBoldItalic.woff') format('woff'),
        url('Branding-SemiBoldItalic.ttf') format('truetype'),
        url('Branding-SemiBoldItalic.svg#Branding-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Branding';
    src: url('Branding-MediumItalic.eot');
    src: url('Branding-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Branding-MediumItalic.woff2') format('woff2'),
        url('Branding-MediumItalic.woff') format('woff'),
        url('Branding-MediumItalic.ttf') format('truetype'),
        url('Branding-MediumItalic.svg#Branding-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Branding SemiLight';
    src: url('Branding-SemiLight.eot');
    src: url('Branding-SemiLight.eot?#iefix') format('embedded-opentype'),
        url('Branding-SemiLight.woff2') format('woff2'),
        url('Branding-SemiLight.woff') format('woff'),
        url('Branding-SemiLight.ttf') format('truetype'),
        url('Branding-SemiLight.svg#Branding-SemiLight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Branding';
    src: url('Branding-LightItalic.eot');
    src: url('Branding-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Branding-LightItalic.woff2') format('woff2'),
        url('Branding-LightItalic.woff') format('woff'),
        url('Branding-LightItalic.ttf') format('truetype'),
        url('Branding-LightItalic.svg#Branding-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Branding';
    src: url('Branding-ThinItalic.eot');
    src: url('Branding-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('Branding-ThinItalic.woff2') format('woff2'),
        url('Branding-ThinItalic.woff') format('woff'),
        url('Branding-ThinItalic.ttf') format('truetype'),
        url('Branding-ThinItalic.svg#Branding-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Branding';
    src: url('Branding-Black.eot');
    src: url('Branding-Black.eot?#iefix') format('embedded-opentype'),
        url('Branding-Black.woff2') format('woff2'),
        url('Branding-Black.woff') format('woff'),
        url('Branding-Black.ttf') format('truetype'),
        url('Branding-Black.svg#Branding-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Branding';
    src: url('Branding-Medium.eot');
    src: url('Branding-Medium.eot?#iefix') format('embedded-opentype'),
        url('Branding-Medium.woff2') format('woff2'),
        url('Branding-Medium.woff') format('woff'),
        url('Branding-Medium.ttf') format('truetype'),
        url('Branding-Medium.svg#Branding-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Branding';
    src: url('Branding-Thin.eot');
    src: url('Branding-Thin.eot?#iefix') format('embedded-opentype'),
        url('Branding-Thin.woff2') format('woff2'),
        url('Branding-Thin.woff') format('woff'),
        url('Branding-Thin.ttf') format('truetype'),
        url('Branding-Thin.svg#Branding-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Branding SemiLightItalic';
    src: url('Branding-SemiLightItalic.eot');
    src: url('Branding-SemiLightItalic.eot?#iefix') format('embedded-opentype'),
        url('Branding-SemiLightItalic.woff2') format('woff2'),
        url('Branding-SemiLightItalic.woff') format('woff'),
        url('Branding-SemiLightItalic.ttf') format('truetype'),
        url('Branding-SemiLightItalic.svg#Branding-SemiLightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Branding';
    src: url('Branding-Light.eot');
    src: url('Branding-Light.eot?#iefix') format('embedded-opentype'),
        url('Branding-Light.woff2') format('woff2'),
        url('Branding-Light.woff') format('woff'),
        url('Branding-Light.ttf') format('truetype'),
        url('Branding-Light.svg#Branding-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Branding';
    src: url('Branding-BoldItalic.eot');
    src: url('Branding-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Branding-BoldItalic.woff2') format('woff2'),
        url('Branding-BoldItalic.woff') format('woff'),
        url('Branding-BoldItalic.ttf') format('truetype'),
        url('Branding-BoldItalic.svg#Branding-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

